.auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  .avatar{
    padding: 10px;
    border-radius: 50%;
    border: 1px solid black;
  }

  .user-info{
    padding: 10px;
    margin: 20px;
  }
  
  .welcome-container {
    display: flex;
    padding: 40px;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .welcome-container h1 {
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  .logout-button {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #e63939;
  }
  